---
import logoImage from '../../assets/images/Platinex Email Footer Logo.png'
---

<div class='flex items-center gap-2'>
	<img src={logoImage.src} alt='Platinex Industries Logo' class='h-8 w-auto object-contain' />
</div>
